body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #f4f6f8;
    color: #333;
}

header {
    background: linear-gradient(135deg, #3f87ff, #5bc0ff);
    color: white;
    padding: 60px 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

.card{
    background: white;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

footer {
    background: #777;
    text-align: center;
    padding: 20px;
}


.fade-in {
  opacity: 0;
  transform: translateY(10px);
  transition:
  opacity 3s ease-out, 
  transform 1.5s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background: #0f172a;
    color: white;
}